<form name="$ctrl.addEditForm" ng-submit="$ctrl.save();" novalidate>

    <div class="modal-header-primary ">
        <h3 class="modal-title" id="modal-title">Add Item</h3>
    </div>

    <div class="modal-body" id="modal-body">

        <div class="alert alert-danger"
             ng-show="$ctrl.addEditForm.$invalid && $ctrl.addEditForm.$submitted"
             role="alert">
            <strong>Validation Error:</strong> Please correct the marked fields below.
        </div>

        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="$ctrl.working.name" type="text" class="form-control" name="name">
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input ng-model="$ctrl.working.email" type="email" class="form-control" name="email">
        </div>

    </div>
    <div class="modal-footer">
        <div class="pull-left" ng-hide="$ctrl.isNew">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.back()">&lt;</button>
            <button class="btn btn-primary" type="button" ng-click="$ctrl.forward()">&gt;</button>
            {{$ctrl.pageMessage()}}
        </div>

        <input class="btn btn-primary" type="submit" value="{{ $ctrl.isNew ? 'Create' : 'Save'}}" />
        <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>

</form>

